* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

html {
}

a {
    text-decoration: none;
}


header {
    padding: 16px 0;
    background: white;
    z-index: 20;
    margin-bottom: -24px;
    position: relative;
}

header .container {
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

nav a {
    padding: 6px;
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
}

nav .active a {
    border-bottom-color: #aaa;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 24px;
}

section {
    padding: 48px 0;
    background-color: #fff;
}

section.dark {
    background: #a66d96;
    color: #fff;
    position: relative;
    transform: skewY(-2deg);
    z-index: 5;
}

section.dark .container {
    transform: skewY(2deg);
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

.hero p {
    font-size: 24px;
}


a.button {
    background-color: #e5aed6;
    border-radius: 12px;
    padding: 8px 12px;
    color: black;
}

footer {
    background: #a66d96;
    padding: 120px 0;
    color: white;
}